[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/keanutan
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/keanutan
	label-Verified = -1..+1 group user/keanutan
	push = group user/keanutan
	read = group user/keanutan
	rebase = group user/keanutan
	removeReviewer = group user/keanutan
	submit = group user/keanutan
[access "refs/heads/*"]
	create = group user/keanutan
	push = +force group user/keanutan
	pushMerge = group user/keanutan
	read = group user/keanutan
[access "refs/tags/*"]
	push = group user/keanutan
	push = +force group user/keanutan
